$primary: #336265;
$dark: #2f3743;
$secondary: #8ce6ec;
$light: #dedede;

$body-color: #4a4a4a !default;

$font-size-base: 1.25rem;
$font-family-base: 'FuturaLightC', Arial, Helvetica, sans-serif;
$headings-font-family: 'FuturaMediumC', sans-serif;

$link-hover-decoration:     none !default;
$input-btn-focus-width:       0 !default;
$input-btn-focus-color:       rgba(#fff, 0) !default;
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

$border-width: 2px !default;
$border-radius: 30px;
$btn-padding-x: 80px;
$btn-padding-y: 10px;

$h1-font-size:   $font-size-base * 2 !default;
$h2-font-size:   $font-size-base * 1.8 !default;
$h3-font-size:   $font-size-base * 1.2 !default;
