#programs-page {
    padding-bottom: 125px;
}

.programs-page-item {
    margin-bottom: 40px;
    padding: 75px 110px 110px 0;
    z-index: 10;

    @media (max-width: map_get($grid-breakpoints, sm)) {
        background: #fff;
        padding: 50px 15px 30px 15px;
        box-shadow: 0px 13px 29px 0px rgba(0, 0, 0, 0.35);

        &::before {
            display: none;
        }

        &::after {
            display: none;
        }
    }

    &__title {
        border-bottom: 1px solid $primary;
    }

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: -1000px;
        right: 0;
        bottom: 0;
        background: #fff;
        box-shadow: 0px 13px 29px 0px rgba(0, 0, 0, 0.35);
        z-index: -5;
    }

    &::after {
        content: '';
        position: absolute;
        left: -1000px;
        right: 0;
        bottom: 0;
        height: 10px;
        background: $primary;
    }
}

.programs-page-card {
    margin: 0 auto;
    padding: 360px 0 65px 60px;
    max-width: 520px;
    border: 12px solid #bde1ee;
    z-index: 10;
    transition: .5s;

    @media (max-width: map_get($grid-breakpoints, sm)) {
        padding: 370px 0 35px 15px;
    }

    &-preview {
        position: absolute;
        top: 25px;
        left: 10px;
        right: 10px;
        padding-top: 265px;
        padding-left: 85px;
        @extend %img;
        z-index: -10;

        @media (max-width: map_get($grid-breakpoints, sm)) {
            padding-left: 35px;
        }

        &__title {

            @media (max-width: map_get($grid-breakpoints, sm)) {
                font-size: 24px;
            }
        }
    }

    &-content {

        &-title {
            color: #878787;
            margin-bottom: 20px;
        }

        &-description {
            margin-left: 25px;
            font-family: 'FuturaMediumC', sans-serif;
            color: $primary;

            @media (max-width: map_get($grid-breakpoints, sm)) {
                margin-left: 10px;
            }
        }
    }

    &:hover {
        border-color: $secondary;
    }
}
