#reviews {
    padding-bottom: 120px;

    .header-banner-slider-nav {
        margin: 40px 0 60px;
        background: transparent;
    }

    &::before {
        content: '';
        @extend %pos;
        top: 0;
        left: 50%;
        background: #e9fcfd;
        z-index: -40;
    }
}