#teachers-page {
    padding-bottom: 110px;

    .page-secondary-banner {
        padding-top: 630px;
    }

    .teachers-quote {
        margin-bottom: 100px;
        font-size: 30px;

        @media (max-width: map_get($grid-breakpoints, sm)) {
            font-size: 24px;
        }

        &-name {
            font-family: 'FuturaMediumC', sans-serif;

            &-decoration {
                width: 60%;
                height: 1px;
                background: $primary;
            }
        }
    }
}

.teachers-card {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
    padding-right: 30px;
    z-index: 10;

    &-description {
        position: relative;
        left: 0;
        padding-top: 100px;
        padding-bottom: 30px;
        max-width: 290px;
        transition: .5s;
        z-index: 10;

        &-name {

            @media (max-width: map_get($grid-breakpoints, lg)) {
                font-size: 24px;
            }
        }

        &-position {

            @media (max-width: map_get($grid-breakpoints, lg)) {
                font-size: 16px;
                margin-bottom: 15px;
            }
        }
    }

    &-img {
        position: relative;
        right: 0;
        transition: .5s;
        z-index: 9;
    }

    .decoration-block {
        position: absolute;
        top: 80px;
        left: 100px;
        right: 0;
        bottom: 0;
        background: #cbeaec;
        z-index: -10;
        transition: .5s;
    }

    &:hover {

        .teachers-card-description {
            left: 55px;
            color: #fff;

            .more-info {
                color: #fff;
            }
        }

        .teachers-card-img {
            right: 30px;
        }

        .decoration-block {
            left: 0;
            background: $primary;
        }
    }
}