.search {
    width: 100%;
    height: 100px;
    padding-left: 50px;
    
    #form-search {
        position: relative;
        width: 100%;

        .form-group {

            &.is-active {
                
                .form-control {
                    color: #939393;
                }
                
                .search-btn {

                    svg {
                        fill: #939393;
                    }
                }
            }
        }

        .form-control {
            background: transparent;
            border: none;
            color: #fff;
            transition: .5;

            &::-webkit-input-placeholder {
                color: #fff;
            }
            &::-moz-placeholder {
                color: #fff;
            }
        }

        .search-btn {
            top: 40%;
            left: -20px;
            transform: translateY(-50%);

            svg {
                fill: #fff;
                transition: .5s;
            }
        }
    }
}